

.header {
    display: flex;
    gap: 650px;
}

.links {
    display: flex;
flex-wrap: wrap;
    gap: 50px;
    margin: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Tagline {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Subscribe {
    display: flex;
    width: 80px;
    background-color: yellow;
    color: black;
    border-radius: 20px;
}


.top {
    background-color: #e3e0cf;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.Recent-Headlines {
    display: flex;
    flex-direction: column;
   

}

.headline-group {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   border: 10px double black;
   background-color: yellowgreen;
   padding: 20px;
   margin-bottom: 50px;
}

.lower-middle {
   font-size: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: grey;
    flex: stretch;
padding: 10px;
}


.action-box {
    display: flex;
    justify-content: space-around;
    background-color: #e3e0cf;
    font-family: Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.call-to-action {
    font-size: 30px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.more-text {
    display: flex;
}

.Sign-Up {
    display: flex;
    border-radius: 10px;
    background-color: #e3e0cf;
    color: black;
    border-color: black;
    border:5px solid black;
   align-items: center;
   margin: 10px;
  
}

.footer {
display: flex;    
flex-direction: column;
}

.blank {
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e0cf;;
}